html
  height 100%
body
  height 100%
  color $gray-900
  font-family 'Noto Sans Japanese', '游ゴシック体', YuGothic, 'Yu Gothic M', '游ゴシック Medium', 'Yu Gothic Medium', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif
  font-size 1em
  line-height 1.8
img
  max-width 100%
  height auto
svg
  display block
  max-width 100%
  height auto
  a
    pointer-events none
li
dd
  img
    vertical-align bottom


section
  padding 2rem 0
